.scoreBoard {
  margin-bottom: 150px;
}

.scoreBoard h2 {
  text-align: center;
  margin: 0 60px auto;
}
.scoreBoard .load {
  padding-left: 0 !important;
}

.scoreBoard a {
  width: fit-content;
}

.scoreBoard .table {
  width: 100%;
  margin-bottom: 30px;
  border-collapse: collapse;
}

.scoreBoard .table thead {
  font-weight: bold;
  border-bottom: 2px solid;
  text-align: center;
}

.scoreBoard .table td,
.scoreBoard .table th {
  padding: 12px 15px;
  font-size: 16px;
}

.scoreBoard .table tbody td:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.scoreBoard .table tbody td:nth-of-type(3) {
  text-align: center;
}

.scoreBoard .table tbody tr:nth-child(odd) {
  -webkit-box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.05);
}

.scoreBoard .table tbody tr:hover {
  -webkit-box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.15);
}

.scoreBoard .scrollingBox {
  max-height: 400px;
  min-height: 200px;
  margin-bottom: 30px;
  overflow: auto;
}

.scoreBoard .scrollingBox table {
  margin-bottom: 0;
}

.scoreBoard .scrollingBox table thead {
  position: sticky;
  top: 0;
  background-color: var(--bs-gray-300);
}

/* taple responsive */
@media (max-width: 500px) {
  .scoreBoard .table thead {
    display: none;
    text-align: left;
  }

  .scoreBoard .table,
  .scoreBoard .table tbody,
  .scoreBoard .table tr,
  .scoreBoard .table td {
    display: block;
    width: 100%;
  }
  .scoreBoard .table tr {
    margin-bottom: 15px;
    border: 1px solid #999999;
  }

  .scoreBoard .table td {
    padding-left: 50%;
    position: relative;
  }
  .scoreBoard .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }

  .scoreBoard .table tbody td {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 5px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .scoreBoard .scrollingBox {
    max-height: 1337px;
  }
}
