@import url("bootstrap/dist/css/bootstrap.min.css");

/* Normalize Selector */
* {
  user-select: none;
}

p {
  margin: 0 !important;
  padding: 0 !important;
}

/* Prevent Drag Img */

img { 
  -webkit-user-drag: none; 
  -khtml-user-drag: none; 
  -moz-user-drag: none; 
  -o-user-drag: none; 
  user-drag: none; 
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--bs-blue);
  border-radius: 8px;
}

/* For Links Row */
.linksRow {
  justify-content: center;
  align-items: center;
}

.linksRow .col {
  margin: 0 10px;
  flex: 0;
}
